$font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-small:   0.6375rem;
$font-regular: 0.85rem;

$base-orange: 	  #f96428;
$dark-grey:   	  #595759;
$base-grey:   	  #a1a1a1;
$light-grey:   	  transparentize($base-grey, 0.75);
$background-grey: #f9f9f9;
$base-amethyst:   #7734e2;
$deep-amethyst:   #6c2fcb;
$light-amethyst:  #bb9af0;

$container-padding: 15px 25px;
$content-padding:   6px 12px;

$close-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.25);
$small-shadow: 0px 4px 24px -8px rgba(0,0,0,0.75);